.app-link--destructive {
  color: govuk-colour("red");
  @include govuk-font(19);

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: govuk-colour("red", $variant: "shade-25")
  }

  &:focus {
    color: govuk-colour("red");
  }
}
