<div class="js-change-notes">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Versioning",
    heading_size: "m",
  } do %>
    <br>
    <%= render "govuk_publishing_components/components/radio", {
      heading: "What sort of change are you making?",
      heading_size: "s",
      name: "edition[update_type]",
      id: "edition_update_type",
      small: true,
      items:
        if !@edition.first_version?
          [
            {
              value: "minor",
              text: "A typo, style change or similar",
              hint_text: "No update is sent to email subscribers.",
              bold: true,
              checked: @edition.update_type == "minor" || @edition.update_type.blank?,
              id: 'minor',
            },
            {
              value: "major",
              text: "A significant change, for example a new travel restriction",
              hint_text: "Sends an email to all subscribers and adds a change note to the summary page.",
              bold: true,
              checked: @edition.update_type == "major",
              id: "major",
              conditional: (render "govuk_publishing_components/components/textarea", {
                label: {
                  text: "Public change note",
                  bold: true,
                },
                hint: 'For example: "Addition of information and advice about planned protests on 5 January (Summary page)" or "Updated information on passport validity requirements (Entry Requirements page)"',
                name: "edition[change_description]",
                id: "edition_change_description",
                rows: 10,
                value: @edition.change_description,
              }) + "Read the #{link_to('guidance about change notes', 'https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes', target: '_blank', class: 'govuk-link')} (opens in a new tab)".html_safe,
            }
          ]
        else
          [
            {
              value: "major",
              text: "A significant change, for example a new travel restriction",
              hint_text: "Sends an email to all subscribers and adds a change note to the summary page.",
              bold: true,
              checked: true,
              id: "major",
              conditional: (render "govuk_publishing_components/components/textarea", {
                label: {
                  text: "Public change note",
                  bold: true,
                },
                hint: 'For example: "Addition of information and advice about planned protests on 5 January (Summary page)" or "Updated information on passport validity requirements (Entry Requirements page)"',
                name: "edition[change_description]",
                id: "edition_change_description",
                rows: 10,
                value: @edition.change_description,
              }) + "Read the #{link_to('guidance about change notes', 'https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes', target: '_blank', class: 'govuk-link')} (opens in a new tab)".html_safe,
            }
          ]
        end
    } %>
  <% end %>
</div>
