<fieldset class="js-change-notes">
  <%= f.inputs :name => "What sort of change are you making?" do %>
    <% if !@edition.first_version? %>
      <div class="radio">
        <%= f.input :update_type,
          label: false,
          as: :radio,
          collection: [
            [
              "<strong>A typo, style change or similar</strong> (no update is sent to email subscribers)".html_safe,
              "minor",
              { class: "js-edition-update-minor", disabled: !@edition.draft? }
            ]
          ]
        %>
      </div>
    <% end %>

    <div class="radio">
      <%= f.input :update_type,
        label: false,
        as: :radio,
        collection: [
          [
            "<strong>A significant change, for example a new travel restriction</strong> (sends an email to all subscribers and adds a change note to the summary page)".html_safe,
            "major",
            { class: "js-edition-update-major", disabled: !@edition.draft? }
          ]
        ]
      %>
    </div>

    <div class="form-group js-change-notes-section js-hidden">
      <%= f.input :change_description,
        label: "Public change note",
        as: :text,
        input_html: { class: "form-control",
                      rows: 4,
                      disabled: !@edition.draft?,
                      required: true,
                      placeholder: 'For example: "Addition of information and advice about planned protests on 5 January (Summary page)" or "Updated information on passport validity requirements (Entry Requirements page)"' } %>

      <p>Read the <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes" target="_blank">guidance about change notes</a> (opens in a new tab).</p>
    </div>
  <% end %>
</fieldset>
