<fieldset class="js-change-notes">
  <%= f.inputs :name => "What sort of change are you making?" do %>
    <div class="radio">
      <%= f.input :update_type,
        as: :radio,
        collection: [
          ["A typo, style change or similar (no update is sent to email subscribers)", "minor", { class: "js-edition-update-minor" }],
          ["A significant change, for example a new travel restriction (sends an email to all subscribers and adds a change note to the summary page)", "major", { class: "js-edition-update-major" }],
        ]
      %>
    </div>

    <div class="form-group js-change-notes-section js-hidden">
      <%= f.input :change_description,
        label: "Public change note",
        as: :text,
        input_html: { class: "form-control",
                      rows: 4,
                      disabled: ! @edition.draft?,
                      required: true,
                      placeholder: 'For example: "Addition of information and advice about planned protests on 5 January (Summary page)" or "Updated information on passport validity requirements (Entry Requirements page)"' } %>

      <p>Read the <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#change-notes" target="_blank">guidance about change notes</a> (opens in a new tab).</p>
    </div>
  <% end %>
</fieldset>
