<script id='tmpl-parts' type='text/x-jquery-tmpl'>
<div class="accordion-group part">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#parts" href="#untitled-part">
      <i class="icon-chevron-down"></i>
      Untitled part
    </a>
  </div>
  <div id="untitled-part" class="accordion-body in">
    <div class="accordion-inner">
      <div class="row-fluid">
        <fieldset class="inputs">
          <div class="string control-group error required stringish" id="edition_parts_attributes_{{index}}_title_input">
            <label class=" control-label" for="edition_parts_attributes_{{index}}_title">Title<abbr title="required">*</abbr></label>
            <div class="controls">
              <input class="span12 title" id="edition_parts_attributes_{{index}}_title" name="edition[parts_attributes][{{index}}][title]" type="text" />
              <span class="help-inline">can't be blank</span>
              <span class="help-inline">Enter text to rename this part</span>
            </div>
          </div>
          <div class="text control-group required" id="edition_parts_attributes_{{index}}_body_input">
            <label class=" control-label" for="edition_parts_attributes_{{index}}_body">Body<abbr title="required">*</abbr></label>
            <div class="controls">
              <textarea class="span12" id="edition_parts_attributes_{{index}}_body" name="edition[parts_attributes][{{index}}][body]" rows="25"></textarea>
            </div>
          </div>
          <div class="string control-group error required stringish" id="edition_parts_attributes_{{index}}_slug_input">
            <label class=" control-label" for="edition_parts_attributes_{{index}}_slug">Slug<abbr title="required">*</abbr></label>
            <div class="controls">
              <input class="span12 slug" id="edition_parts_attributes_{{index}}_slug" name="edition[parts_attributes][{{index}}][slug]" type="text" />
              <span class="help-inline">can't be blank and is invalid</span>
            </div>
          </div>

          <p class="help-block"><i class="icon-info-sign"></i> Eg. title-of-part (no spaces, apostrophes, etc).</p>

          <div class="hidden control-group optional" id="edition_parts_attributes_{{index}}_order_input">
            <div class="controls">
              <input class="order" id="edition_parts_attributes_{{index}}_order" name="edition[parts_attributes][{{index}}][order]" type="hidden" />
            </div>
          </div>

          <div class="row-fluid">
            <hr>
            <input id="edition_parts_attributes_{{index}}__destroy" name="edition[parts_attributes][{{index}}][_destroy]" type="hidden" value="false" />
            <a href="#" class="btn btn-danger pull-right remove-associated" data-selector=".part">Remove part</a>
          </div><!--/.row-fluid -->
        </fieldset>      
      </div><!--/.row-fluid -->
    </div>
  </div>
</div>
</script>
