<script id="tmpl-parts" type="text/x-jquery-tmpl">
  <div class="panel panel-default part">
    <div class="panel-heading js-sort-handle">
      <h4 class="panel-title" >
        <a data-toggle="collapse" href="#untitled-part">
          <i class="glyphicon glyphicon-chevron-down glyphicon-smaller-than-text add-right-margin pull-left"></i>
          Untitled part
        </a>
      </h4>
    </div>
    <div id="untitled-part" class="panel-collapse">
      <div class="panel-body">
        <fieldset class="inputs">
          <div class="string input error required stringish form-group has-error" id="edition_parts_attributes_{{index}}_title_input">
            <span class="form-label">
              <label for="edition_parts_attributes_{{index}}_title" class=" control-label">Title
                <abbr title="required">*</abbr>
              </label>
            </span>
            <span class="form-wrapper">
              <input class="title input-md-8 form-control" id="edition_parts_attributes_{{index}}_title" type="text" name="edition[parts_attributes][{{index}}][title]" />
              <span class="help-block">can't be blank</span>
            </span>
          </div>

          <div class="text input required form-group" id="edition_parts_attributes_{{index}}_body_input">
            <span class="form-label">
              <label for="edition_parts_attributes_{{index}}_body" class=" control-label">Body
                <abbr title="required">*</abbr>
              </label>
            </span>
            <span class="form-wrapper">
              <textarea rows="25" id="edition_parts_attributes_{{index}}_body" class="input-md-8 form-control" name="edition[parts_attributes][{{index}}][body]">
              </textarea>
            </span>
          </div>

          <div class="string input error required stringish form-group has-error" id="edition_parts_attributes_{{index}}_slug_input">
            <span class="form-label">
              <label for="edition_parts_attributes_{{index}}_slug" class=" control-label">Slug
                <abbr title="required">*</abbr>
              </label>
            </span>
            <span class="form-wrapper">
              <input class="slug input-md-8 form-control" id="edition_parts_attributes_{{index}}_slug" type="text" name="edition[parts_attributes][{{index}}][slug]" />
              <span class="help-block">can't be blank and is invalid</span>
            </span>
          </div>

          <p class="help-block">
            <i class="glyphicon glyphicon-info-sign"></i> eg title-of-part (no spaces, apostrophes, etc).
          </p>

          <div class="hidden input optional form-group" id="edition_parts_attributes_{{index}}_order_input">
            <span class="form-label">
              <label for="edition_parts_attributes_{{index}}_order" class=" control-label">Order</label>
            </span>
            <span class="form-wrapper">
              <input id="edition_parts_attributes_{{index}}_order" class="order" type="hidden" name="edition[parts_attributes][{{index}}][order]" />
            </span>
          </div>

          <hr>
          <input type="hidden" value="false" name="edition[parts_attributes][{{index}}][_destroy]" id="edition_parts_attributes_{{index}}__destroy" />
          <a href="#" class="btn btn-danger pull-right remove-associated" data-selector=".part">Remove part</a>
        </fieldset>
      </div>
    </div>
  </div>
</script>
