<div id="parts" class="govuk-!-margin-bottom-3">
  <% if @edition.parts.blank? %>
    <p class="govuk-body">This edition has no parts.</p>
  <% else %>
    <% if @edition.draft? && @edition.parts.count > 1 %>
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Parts (govspeak available)",
        borderless: true,
        edit: {
          href: manage_part_ordering_admin_edition_path(@edition),
          link_text: "Reorder",
        },
        items: @edition.parts.in_order.map do |part|
          {
            field: part.title,
            value: part.slug,
            edit: {
              href: @edition.draft? ? edit_admin_country_edition_part_path(@country.slug, @edition, part) : review_admin_country_edition_part_path(@country.slug, @edition, part),
              link_text: @edition.draft? ? "Change" : "View",
            },
            delete: {
              href: confirm_destroy_admin_country_edition_part_path(@edition, part),
              link_text: "Remove",
            },
          }
        end
      } %>
    <% elsif @edition.draft? %>
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Parts (govspeak available)",
        borderless: true,
        items: @edition.parts.in_order.map do |part|
          {
            field: part.title,
            value: part.slug,
            edit: {
              href: @edition.draft? ? edit_admin_country_edition_part_path(@country.slug, @edition, part) : review_admin_country_edition_part_path(@country.slug, @edition, part),
              link_text: @edition.draft? ? "Change" : "View",
            },
            delete: {
              href: confirm_destroy_admin_country_edition_part_path(@edition, part),
              link_text: "Remove",
            },
          }
        end
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "Parts (govspeak available)",
        borderless: true,
        items: @edition.parts.in_order.map do |part|
          {
            field: part.title,
            value: part.slug,
            edit: {
              href: @edition.draft? ? edit_admin_country_edition_part_path(@country.slug, @edition, part) : review_admin_country_edition_part_path(@country.slug, @edition, part),
              link_text: @edition.draft? ? "Change" : "View",
            }
          }
        end
      } %>
    <% end %>
  <% end %>

  <% if @edition.draft? %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Add part",
      href: new_admin_country_edition_part_path(@country.slug, @edition)
    } %>
  <% end %>
</div>
