<div id="parts" class="govuk-!-margin-bottom-3">
  <% if @edition.parts.blank? %>
    <p class="govuk-body">This edition has no parts.</p>
  <% else %>
    <%= render "govuk_publishing_components/components/summary_list", {
      title: "Parts (govspeak available)",
      borderless: true,
      items: @edition.parts.in_order.map do |part|
        {
          field: part.title,
          value: part.slug,
        }
      end
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Add new part",
    secondary: true,
    href: new_admin_country_edition_part_path(@country.slug, @edition)
} %>
</div>
