<div class="parts-wrapper" data-module="parts">
  <%= render "govuk_publishing_components/components/fieldset", {
    legend_text: "Parts (govspeak available)",
    heading_size: "m",
  } do %>
    <div class="govuk-accordion" data-module="govuk-accordion" id="parts">
      <% @edition.parts.in_order.each_with_index do | part, index | %>
        <%= render 'part', part: part, index: index %>
      <% end %>
    </div>

    <%= render "part_template" %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Add new part",
      secondary_solid: true,
      classes: "js-add-new-part",
    } %>
  <% end %>
</div>
