<div class="row-fluid" id="related_<%= index %>">
  <div class="span5">
    <%= select_tag("related_artefacts[]",
                   options_from_collection_for_select(related_items, :id, :name, id),
                   { prompt: "Select a related item", :class => "span9" }) %>
  </div>
</div>
