<% content_for :title, "Countries" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/table", {
      filterable: true,
      label: "Filter countries",
      head: [
        { text: "Country" },
        { text: "Status" }
      ],
      rows: @countries.map do |country|
        [
          { text: link_to(country.name, admin_country_path(country.slug), class: 'govuk-link') },
          { text: country.has_published_edition? ? "Advice published" : "No advice published" }
        ]
      end
    } %>
  </div>
</div>
