.edition-form__action-button-group {
  :last-child {
    margin-left: auto;
  }
}

.edition-form__action-preview-link {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: inline;
  }
}
