// Increase padding on footer to account for
// fixed navbar
.page-footer {
  margin-bottom: 63px;
}

// Override the font-size for main textareas
.formtastic textarea.form-control {
  font-size: 17px;
  line-height: 26px;
  color: #555;
}

fieldset.inputs {
  @include add-top-margin;
}

.govspeak-help {
  height: 200px;
  overflow-y: scroll;
}
