$medium-dark-grey: #555;

// Increase padding on footer to account for fixed navbar
.page-footer {
  margin-bottom: 63px;
}

// Override the font-size for main textareas
.formtastic .form-control {
  font-size: 17px;
  line-height: 26px;
  color: $medium-dark-grey;
}

.inputs {
  @include add-top-margin;
}

.govspeak-help {
  height: 200px;
  overflow-y: scroll;
}
