$medium-dark-grey: #555555;

// Increase padding on footer to account for fixed navbar
.page-footer {
  margin-bottom: 63px;
}

// Override the font-size for main textareas
.formtastic textarea.form-control { // stylelint-disable-line selector-no-qualifying-type
  font-size: 17px;
  line-height: 26px;
  color: $medium-dark-grey;
}

fieldset.inputs { // stylelint-disable-line selector-no-qualifying-type
  @include add-top-margin;
}

.govspeak-help {
  height: 200px;
  overflow-y: scroll;
}
