<form action="<%= link_check_reports_path(edition_id: edition.id) %>" method="post" ata-remote="true" rel="nofollow">
    <%= render "govuk_publishing_components/components/button", {
    text: button_text,
    secondary: true,
  } %>
</form>
